[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = error

# IDE0090: Используйте "new(...)".
dotnet_diagnostic.IDE0090.severity = suggestion

# IDE0005: Директива using не нужна.
dotnet_diagnostic.IDE0005.severity = suggestion

# IDE0058: Значение выражения никогда не используется
dotnet_diagnostic.IDE0058.severity = suggestion

# IDE0017: Упростите инициализацию объекта
dotnet_diagnostic.IDE0017.severity = suggestion

# IDE0022: Использовать тело блока для методов
dotnet_diagnostic.IDE0022.severity = suggestion

# IDE0027: Использовать тело выражения для методов доступа
dotnet_diagnostic.IDE0027.severity = suggestion

# IDE0055: Исправить форматирование
dotnet_diagnostic.IDE0055.severity = suggestion

# IDE0008: Использование явного типа
dotnet_diagnostic.IDE0008.severity = suggestion

# IDE0010: Добавить отсутствующие варианты
dotnet_diagnostic.IDE0010.severity = suggestion

# IDE0046: Преобразовать в условное выражение
dotnet_diagnostic.IDE0046.severity = suggestion

# IDE1006: Стили именования
dotnet_diagnostic.IDE1006.severity = suggestion

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0060: Удалите неиспользуемый параметр
dotnet_diagnostic.IDE0060.severity = suggestion

# IDE0054: Используйте оператор "--"
dotnet_diagnostic.IDE0054.severity = suggestion

# IDE0059: Ненужное присваивание значения
dotnet_diagnostic.IDE0059.severity = silent

# IDE0047: Удалить ненужные круглые скобки
dotnet_diagnostic.IDE0047.severity = suggestion

# IDE0056: Использовать оператор индекса
dotnet_diagnostic.IDE0056.severity = suggestion

# IDE0011: Добавить фигурные скобки
dotnet_diagnostic.IDE0011.severity = none

# IDE0048: Добавить круглые скобки для ясности
dotnet_diagnostic.IDE0048.severity = silent

# IDE0003: Удалить квалификацию
dotnet_diagnostic.IDE0003.severity = silent

# CS0219: Переменная назначена, но ее значение не используется
dotnet_diagnostic.CS0219.severity = suggestion

# IDE0040: Добавьте модификаторы доступности
dotnet_diagnostic.IDE0040.severity = warning

# IDE0045: Преобразовать в условное выражение
dotnet_diagnostic.IDE0045.severity = suggestion
